.main-login {
  background: var(--gradient-hero);
  width: 100%;


  display: flex;
 flex-direction: row;
  justify-content: flex-start;
padding-top: 40px;
padding-left: 20px;
  align-items: flex-start;
}
.main-login img{
  cursor: pointer;
}
.container-login {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  background: var(--gradient-card);
  border-radius: 0.75rem;
  border: 1px solid hsl(var(--border));
  padding: 100px;
  height: 500px;
  color: white;
  width: 400px;
  transition: transform 0.3s ease;
}
.container-login input {
  border: 1px solid hsl(var(--border));
  background: var(--gradient-hero);
  border-radius: 10px;
  height: 40px;
  width: 400px;
  color: white;
  font-family: sans-serif;
  font-size: large;
}
.container-login button {
  background-color: hsl(var(--primary));
  border-radius: 10px;
  height: 40px;
  width: 400px;
  border: 1px solid hsl(var(--border));
  font-weight: bold;
  cursor: pointer;
}
.container-login button:hover {
  transform: scale(1.2);
}
.titulo-login {
  text-align: center;
  font-size: x-large;
}
.titulo-login p {
  color: hsl(var(--normal-letter));
  font-size: large;
}
.paragraph-footer {
  text-align: center;
}
.paragraph-footer .link {
  cursor: pointer;
  
  transform: none;
  color: hsl(var(--primary));

}
.paragraph-footer .link:hover {
  border-bottom: 1px solid hsl(var(--primary));
}
