.main-register {
  background: var(--gradient-hero);
  width: 100%;
  min-height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;

  position: relative;
   margin: 0 auto;
   padding: 30px 10px;
}
.back-button {
  position: absolute;
  top: 2rem;
  left: 2rem;
}
.container-register {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background: var(--gradient-card);
  border-radius: 12px;
  border: .0625rem solid hsl(var(--border));
  padding: 10px 10px;
  color: white;
  width: 25rem;
  transition: transform 0.3s ease;
  
}
.container-register input {
  border: .0625rem solid hsl(var(--border));
  background: var(--gradient-hero);
  border-radius: .625rem;
  width: 100%;
  color: white;
  font-family: sans-serif;
  font-size: large;
  height: 40px;
}
.container-register button {
  background-color: hsl(var(--primary));
  border-radius: .625rem;
  height: 2.5rem;
  width: 100%;
  border: .0625rem solid hsl(var(--border));
  font-weight: bold;
  cursor: pointer;
}
.container-register button:hover {
  transform: scale(1.2);
}
.titulo-register {
  text-align: center;
  font-size: x-large;
}
.titulo-register p {
  color: hsl(var(--normal-letter));
  font-size: large;
}
.paragraph-footer-register {
  text-align: center;
}
.paragraph-footer-register .link {
  cursor: pointer;
  
  transform: none;
  color: hsl(var(--primary));
}
.paragraph-footer-register .link:hover {
  border-bottom: .0625rem solid hsl(var(--primary));
}
