.main-login {
  background: var(--gradient-hero);
  width: 100%;
  height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: center;

  align-items: center;
}
.container-login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.25rem;
  background: var(--gradient-card);
  border-radius: 12px;
  border: .0625rem solid hsl(var(--border));
  padding: 6.25rem;
  color: white;
  height: 31.25rem;
  width: 25rem;
  transition: transform 0.3s ease;
}
.container-login input {
  border: .0625rem solid hsl(var(--border));
  background: var(--gradient-hero);
  border-radius: .625rem;
  width: 25rem;
  color: white;
  font-family: sans-serif;
  font-size: large;
}
.container-login button {
  background-color: hsl(var(--primary));
  border-radius: .625rem;
  height: 2.5rem;
  width: 25rem;
  border: .0625rem solid hsl(var(--border));
  font-weight: bold;
  cursor: pointer;
}
.container-login button:hover {
  transform: scale(1.2);
}
.titulo-login {
  text-align: center;
  font-size: x-large;
}
.titulo-login p {
  color: hsl(var(--normal-letter));
  font-size: large;
}
.paragraph-footer {
  text-align: center;
}
.paragraph-footer .link {
  cursor: pointer;
  
  transform: none;
  color: hsl(var(--primary));
}
.paragraph-footer .link:hover {
  border-bottom: .0625rem solid hsl(var(--primary));
}
