.container-trainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.title-trainer{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    color: white;
    width: 100%;
}
.list-trainer{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    color: white;
    gap: 50px;
}