:root{
  --primary:168 76% 42%;
  --normal-letter:215 20% 65%;
    --box-hour:215 20% 25%;
  --background-menu:222 47% 6%;
  --border:222 30% 18%;
  --gradient-hero: linear-gradient(145deg,hsl(222,47%,6%) 0%, hsl(222,47%,10%) 100%);
  --gradient-card: linear-gradient(180deg,hsl(224, 46%, 11%) 0%, hsl(221, 44%, 10%) 100%);
  --gradient-hero2: linear-gradient(145deg,hsl(222,47%,6%) 0%, hsl(221, 57%, 5%) 100%);
}

*, *::before, *::after {
  box-sizing: border-box;
}
body {
  margin: 0;

}
